* {
  box-sizing: border-box;
}

.gif {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;

  --border-width: 6px;
}

.gif:hover > .gif-info {
  display: block;
  pointer-events: none;
}

.gif-info {
  display: none;
  position: absolute;
  bottom: 10px;
  left: calc(2 * var(--border-width));
  right: var(--border-width);
}

.gif-info-data {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  width: 100%;
}

.user-avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.user-avatar img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.user-name {
  font-weight: 600;
  margin-left: 15px;
  text-overflow: ellipsis;
  z-index: 1;
}

.gif:hover {
  cursor: pointer;
}
.gif .content-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gif.g:hover {
  border: var(--border-width) var(--green) solid;
}

.gif.b:hover {
  border: var(--border-width) var(--blue) solid;
}

.gif.p:hover {
  border: var(--border-width) var(--purple) solid;
}

.gif.r:hover {
  border: var(--border-width) var(--red) solid;
}

.gif.y:hover {
  border: var(--border-width) var(--yellow) solid;
}

.g {
  background-color: var(--green);
}

.b {
  background-color: var(--blue);
}

.p {
  background-color: var(--purple);
}

.r {
  background-color: var(--red);
}

.y {
  background-color: var(--yellow);
}

.overlay-root {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: red;
}

.actions-bar {
  top: 0;
  left: 0;
  right: 0;

  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  opacity: 0;
  z-index: 2;
  padding-right: 10px;
  padding-top: 5px;
}

.overlay-root:hover .actions-bar {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
.heart {
  height: 100%;
  width: 36px;
  fill: white;
  cursor: pointer;
  position: relative;
  top: 4px;
}

.heart:hover, .share:hover{
 animation-name: pump;
 animation-duration: 1s;
 animation-iteration-count: infinite;
 animation-timing-function: linear;
}


@keyframes pump{
  25% {scale:1.1}
  50% {scale:1}
  75% {scale:0.9}
  100% {scale:1}
}

.favorite {
  fill: red;
}

.share {
  filter: invert(44%) sepia(46%) saturate(6374%) hue-rotate(101deg)
    brightness(100%) contrast(106%);
}
