
.register-form{
    display:flex;
    flex-direction: column;

    
}

.register-input, .btn-register-form{

    margin-bottom:15px;
   font-size:14px;
   padding: 5px 5px 5px 12px;
   font-weight: 400;
   line-height: normal;
   height: 36px;
}